
.articles-image {
  margin-top: 10px;
  width: 104px;
  height: 104px;
  background-color: #efefef;
  border: 1px solid #eee;
  background-size: cover;
  background-repeat: no-repeat;
}

.ion-delete-button {

  .spinner {
    right: 12px;
    padding-bottom: 2px;

    svg {
      background: #ef473a;
      border-radius: 100%;
      stroke: #fff;
      width: 20px;
      height: 20px;
    }
  }

}
