<ion-view title="System Resource"> 

<ion-content>

<h1>SystemResource</h1>

<h2>Connect</h2>
<div ng-repeat="request in systemConnectRequests">
	<b>Request at:</b> {{request.requestStart| date:'medium'}}<br />
	<b>Response at:</b> {{request.requestEnd| date:'medium'}}<br />
	<b>Duration:</b> {{request.requestDuration}}<br />
	<b>Data:</b> 
	<pre>
	{{ request.data | json}}
	</pre>
</div>
<button class="button button-small" ng-click="callSystemRecourceConncet()">call SystemRecource.conncet</button>
<hr />

<h2>Get Variable</h2>
<div ng-repeat="request in systemGetVariableRequests">
	<b>Request at:</b> {{request.requestStart| date:'medium'}}<br />
	<b>Response at:</b> {{request.requestEnd| date:'medium'}}<br />
	<b>Duration:</b> {{request.requestDuration}}<br />
	<b>Data:</b> 
	<pre>
	{{ request.data | json}}
	</pre>
</div>
<form name="getVariableForm" novalidate="">
  <ion-list>
    <label class="item item-input">
      <input type="text" placeholder="Variable name" ng-model="getVariableData.name" autocorrect="off" autocapitalize="off" spellcheck="false">
    </label>
  </ion-list>
  <button class="button button-small" ng-click="callSystemRecourceGetVariable()">call SystemRecource.get_variable</button>
</form>
<hr />

<h2>Set Variable</h2>
<div ng-repeat="request in systemSetVariableRequests">
	<b>Request at:</b> {{request.requestStart| date:'medium'}}<br />
	<b>Response at:</b> {{request.requestEnd| date:'medium'}}<br />
	<b>Duration:</b> {{request.requestDuration}}<br />
	<b>Data:</b> 
	<pre>
	{{ request.data | json}}
	</pre>
</div>
<form name="setVariableForm" novalidate="">
  <ion-list>
        <label class="item item-input">
      <input type="text" placeholder="Variable name" ng-model="setVariableData.name" autocorrect="off" autocapitalize="off" spellcheck="false">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Variable value" ng-model="setVariableData.value" autocorrect="off" autocapitalize="off" spellcheck="false">
    </label>
  </ion-list>
  <button class="button button-small" ng-click="callSystemRecourceSetVariable()">call SystemRecource.set_variable</button>
</form>

<hr />

<h2>Del Variable</h2>
<div ng-repeat="request in systemDelVariableRequests">
	<b>Request at:</b> {{request.requestStart| date:'medium'}}<br />
	<b>Response at:</b> {{request.requestEnd| date:'medium'}}<br />
	<b>Duration:</b> {{request.requestDuration}}<br />
	<b>Data:</b> 
	<pre>
	{{ request.data | json}}
	</pre>
</div>
<form name="delVariableForm" novalidate="">
  <ion-list>
    <label class="item item-input">
      <input type="text" placeholder="Variable name" ng-model="delVariableData.name" autocorrect="off" autocapitalize="off" spellcheck="false">
    </label>
  </ion-list>
 <button class="button button-small" ng-click="callSystemRecourceDelVariable()">call SystemRecource.del_variable</button>
</form>

<hr />

</ion-content> 
</ion-view>