<ion-view title="System Resource"> 

<ion-content>

<h1>SystemResource</h1>

<h2>Connect</h2>
<ion-list>
  <div ng-repeat="(key,request) in systemConnectRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Connect Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>
<button class="button button-small" ng-click="callSystemRecourceConncet()">call SystemRecource.conncet</button>
<hr />

<h2>Get Variable</h2>
<ion-list>
  <div ng-repeat="(key,request) in systemGetVariableRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Get Variable Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>
<form name="getVariableForm" novalidate="">
  <ion-list>
    <label class="item item-input">
      <input type="text" placeholder="Variable name" ng-model="getVariableData.name" autocorrect="off" autocapitalize="off" spellcheck="false">
    </label>
  </ion-list>
  <button class="button button-small" ng-click="callSystemRecourceGetVariable()">call SystemRecource.get_variable</button>
</form>
<hr />
 
<h2>Set Variable</h2>
<ion-list>
  <div ng-repeat="(key,request) in systemSetVariableRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Set Variable Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>
<form name="setVariableForm" novalidate="">
  <ion-list>
        <label class="item item-input">
      <input type="text" placeholder="Variable name" ng-model="setVariableData.name" autocorrect="off" autocapitalize="off" spellcheck="false">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Variable value" ng-model="setVariableData.value" autocorrect="off" autocapitalize="off" spellcheck="false">
    </label>
  </ion-list>
  <button class="button button-small" ng-click="callSystemRecourceSetVariable()">call SystemRecource.set_variable</button>
</form>
<hr />

<h2>Del Variable</h2>
<ion-list>
  <div ng-repeat="(key,request) in systemDelVariableRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Del Variable Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>
<form name="delVariableForm" novalidate="">
  <ion-list>
    <label class="item item-input">
      <input type="text" placeholder="Variable name" ng-model="delVariableData.name" autocorrect="off" autocapitalize="off" spellcheck="false">
    </label>
  </ion-list>
 <button class="button button-small" ng-click="callSystemRecourceDelVariable()">call SystemRecource.del_variable</button>
</form>
<hr />
 
</ion-content> 
</ion-view>