<ion-view title="User Resource"> 
 
<ion-content>
<h1>UserResource</h1>


<h2>Retrieve</h2>
<ion-list>
  <div ng-repeat="(key,request) in userRetrieveRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Retrieve Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

<label class="item item-input">
<input type="text" ng-init="userRetrieve.uid=1" ng-model="userRetrieve.uid" placeholder="uid" >
</label>
<button class="button button-small" ng-click="callUserRecourceRetrieve(userRetrieve.uid)">callUserRecourceRetrieve</button>
<hr />

<h2>Create</h2>
<ion-list>
  <div ng-repeat="(key,request) in userCreateRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Create Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

<label class="item item-input">
<input type="text" ng-model="userCreate.name" placeholder="User name" >
</label>
<label class="item item-input">
<input type="text" ng-model="userCreate.mail" placeholder="User email" >
</label>
<label class="item item-input">
<input type="text" ng-model="userCreate.pass" placeholder="User password" >
</label>

<button class="button button-small" ng-click="callUserRecourceCreate(userCreate)">call UserRecource.create</button>
<hr />
<h2>Update</h2>
<ion-list>
  <div ng-repeat="(key,request) in userUpdateRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Update Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>
<label class="item item-input">
<input type="text" ng-model="userUpdate.uid" placeholder="Uid" >
</label>
<label class="item item-input">
<input type="text" ng-model="userUpdate.name" placeholder="User name" >
</label>


<button class="button button-small" ng-click="callUserRecourceUpdate(userUpdate)">call UserRecource.update</button>

<hr />

<h2>Delete</h2>
<ion-list>
  <div ng-repeat="(key,request) in userDeleteRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Delete Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

<label class="item item-input">
<input type="text" ng-model="userDelete.uid" placeholder="nid" >
</label>
<button class="button button-small" ng-click="callUserRecourceDelete(userDelete.uid)">call UserRecource.delete</button>

<hr />

<h2>Index</h2>
<ion-list>
  <div ng-repeat="(key,request) in userIndexRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Retrieve Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

<label class="item item-input">
<input type="text"  ng-model="userIndex.page" placeholder="page" >
</label>
<label class="item item-input">
<input type="text"  ng-model="userIndex.pagesize" placeholder="pagesize" >
</label>
<label class="item item-input">
<input type="text" ng-model="userIndex.fields" placeholder="fields" >
</label>
<label class="item item-input">
<input type="text" ng-model="userIndex.parameters" placeholder="parameters" >
</label>
<button class="button button-small" ng-click="callUserRecourceIndex(userIndex)">callUserRecourceRetrieve</button>

<hr />




<h2>Register User</h2>
<ion-list>
  <div ng-repeat="(key,request) in userRegisterRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Retrieve Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>
<form name="registerForm" novalidate="" ng-submit="register(registerForm)">
	<div class="form-errors" ng-show="registerForm.$submitted">
		<div ng-bind-html="error" class="form-error"
			ng-repeat="error in registerServerErrors"></div>
	</div>
	<div class="list">
		<label class="item item-input"
			ng-class="{ 'has-error' : registerForm.username.$invalid && registerForm.username.$dirty}">
			<input type="text" ng-init="registerData.username = '00000'"
			ng-model="registerData.username" placeholder="Username"
			name="username" autocorrect="off" autocapitalize="off"
			ng-minlength="5" ng-maxlength="15" required spellcheck="false">
		</label>
		<div class="form-errors"
			ng-show="registerForm.username.$invalid && registerForm.username.$dirty"
			ng-messages="registerForm.username.$error"
			ng-messages-include="templates/form-errors.html">
			<div class="form-error" ng-message="maxlength">This field must
				be less than 15 characters</div>
		</div>
		<label class="item item-input"
			ng-class="{ 'has-error' : registerForm.email.$invalid && registerForm.email.$dirty}">
			<input type="email" ng-init="registerData.email = '00@000.com'"
			placeholder="Email Address" name="email"
			ng-model="registerData.email" required>
		</label>
		<div class="form-errors"
			ng-show="registerForm.email.$invalid && registerForm.email.$dirty"
			ng-messages="registerForm.email.$error"
			ng-messages-include="templates/form-errors.html">
			<div class="form-error" ng-message="email">This field is not a
				propper email address.</div>
		</div>
		<label class="item item-input"
			ng-class="{ 'has-error' : registerForm.password.$invalid && registerForm.password.$dirty}">
			<input type="password" ng-init="registerData.password = '000000'"
			placeholder="Password" name="password"
			ng-model="registerData.password" ng-minlength="5" ng-maxlength="15"
			required>
		</label>
		<div class="form-errors"
			ng-show="registerForm.password.$invalid && registerForm.password.$dirty"
			ng-messages="registerForm.password.$error"
			ng-messages-include="templates/form-errors.html">
			<div class="form-error" ng-message="maxlength">This field must
				be less than 15 characters</div>
		</div>
		<div class="button-bar">
			<button class="padding-top button button-block button-positive"
				ng-click="createAccount()">Create Account</button>
		</div>
		<div class="button-bar">
			<button class="button button-block button-positive"
				ng-click="loginFacebook()">Register with Facebook</button>
		</div>
		<a class="button button-block button-positive" menu-close href="#/login">Already got an account? Login</a>
		</div>
	</form>
		<!-- general meaasges -->
		<script id="templates/form-errors.html" type="text/ng-template">
		<div class="form-error" ng-message="required">This field is required.</div>
		<div class="form-error" ng-message="minlength">This field must be at least 5 characters.</div>
		</script> 
	
	<ion-list>
	</hr>
	
  <div ng-repeat="(key,request) in userLoginRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Retrieve Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>
	<form name="loginForm" class="css-form" novalidate>
		<div class="list list-inset">
			<label class="item item-input item-floating-label"> <span
				class="input-label">Username</span> <!--@TODO remove ng-Init when publish  -->
				<input type="text" ng-Init="loginData.username = 'admin'"
				placeholder="What is you username" name="name"
				ng-model="loginData.username">
			</label> <label class="item item-input item-floating-label"> <span
				class="input-label">Password</span> <!--@TODO remove ng-Init when publish  -->
				<input type="password" ng-Init="loginData.password = 'password'"
				placeholder="What is your password?" name="password"
				ng-model="loginData.password">

			</label>
			<div class="error-container">
				<small class="error">Error</small>
			</div>

			<button type="submit" class="button  button-block button-positive"
				ng-click="callUserResourceLogin(loginData)">call
				UserResourceLogin.login</button>
			<button class="button">Forgot Pasword?</button>

			<button type="submit" class="button button-balanced"
				ui-sref="app.profile.register">Register</button>

		</div>
	</form> 

	<b>lastTimeRequestToUserResourceLogin:</b>{{lastTimeRequestToUserResourceLogin | date:'medium'}}<br/> 
	<b>lastResultRequestToUserResourceLogin:</b>
	<pre>
	{{ lastResultRequestToUserResourceLogin | json}}
	</pre>

	<hr/>
	
	
<h2>Token</h2>
<ion-list>
  <div ng-repeat="(key,request) in userTokenRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Token Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>
<button class="button button-small" ng-click="callUserRecourceToken()">call UserRecource token</button>
<hr />
	
	
	</ion-content> </ion-view>