<ion-view title="User Resource"> 
 
<ion-content>
<h1>UserResource</h1>


<h2>Retrieve</h2>
<ion-list>
  <div ng-repeat="(key,request) in userRetrieveRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Retrieve Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

<label class="item item-input">
<input type="text" ng-init="userRetrieve.uid=1" ng-model="userRetrieve.uid" placeholder="uid" >
</label>
<button class="button button-small" ng-click="callUserRecourceRetrieve(userRetrieve.uid)">callUserRecourceRetrieve</button>
<hr />

<h2>Create</h2>
<ion-list>
  <div ng-repeat="(key,request) in userCreateRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Create Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

<label class="item item-input">
<input type="text" ng-model="userCreate.name" placeholder="User name" >
</label>
<label class="item item-input">
<input type="text" ng-model="userCreate.mail" placeholder="User email" >
</label>
<label class="item item-input">
<input type="text" ng-model="userCreate.pass" placeholder="User password" >
</label>

<button class="button button-small" ng-click="callUserRecourceCreate(userCreate)">call UserRecource.create</button>
<hr />
<h2>Update</h2>
<ion-list>
  <div ng-repeat="(key,request) in userUpdateRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Update Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>
<label class="item item-input">
<input type="text" ng-model="userUpdate.uid" placeholder="Uid" >
</label>
<label class="item item-input">
<input type="text" ng-model="userUpdate.name" placeholder="User name" >
</label>


<button class="button button-small" ng-click="callUserRecourceUpdate(userUpdate)">call UserRecource.update</button>

<hr />

<h2>Delete</h2>
<ion-list>
  <div ng-repeat="(key,request) in userDeleteRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Delete Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

<label class="item item-input">
<input type="text" ng-model="userDelete.uid" placeholder="nid" >
</label>
<button class="button button-small" ng-click="callUserRecourceDelete(userDelete.uid)">call UserRecource.delete</button>

<hr />

<h2>Index</h2>
<ion-list>
  <div ng-repeat="(key,request) in userIndexRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Index Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

<label class="item item-input">
<input type="text"  ng-model="userIndex.page" placeholder="page" >
</label>
<label class="item item-input">
<input type="text"  ng-model="userIndex.pagesize" placeholder="pagesize" >
</label>
<ion-checkbox ng-model="userIndex.fields.uid">fields.uid</ion-checkbox>
<ion-checkbox ng-model="userIndex.fields.name">fields.name</ion-checkbox>
<ion-checkbox ng-model="userIndex.fields.mail">fields.mail</ion-checkbox>
<ion-checkbox ng-model="userIndex.fields.theme">fields.theme</ion-checkbox>
<ion-checkbox ng-model="userIndex.fields.signature">fields.signature</ion-checkbox>
<ion-checkbox ng-model="userIndex.fields.signature_format">fields.signature_format</ion-checkbox>
<ion-checkbox ng-model="userIndex.fields.created">fields.created</ion-checkbox>
<ion-checkbox ng-model="userIndex.fields.access">fields.access</ion-checkbox>
<ion-checkbox ng-model="userIndex.fields.login">fields.login</ion-checkbox>
<ion-checkbox ng-model="userIndex.fields.status">fields.status</ion-checkbox>
<ion-checkbox ng-model="userIndex.fields.timezone">fields.timezone</ion-checkbox>
<ion-checkbox ng-model="userIndex.fields.language">fields.language</ion-checkbox>
<ion-checkbox ng-model="userIndex.fields.picture">fields.picture</ion-checkbox>
<ion-checkbox ng-model="userIndex.fields.init">fields.init</ion-checkbox>
<ion-checkbox ng-model="userIndex.fields.data">fields.data</ion-checkbox>

<label class="item item-input">
	<input type="text" ng-model="userIndex.parameters.uid" placeholder="uid" >
</label>
<label class="item item-input">
	<input type="text" ng-model="userIndex.parameters.name" placeholder="name" >
</label>
<label class="item item-input">
	<input type="text" ng-model="userIndex.parameters.mail" placeholder="mail" >
</label>
<label class="item item-input">
	<input type="text" ng-model="userIndex.parameters.theme" placeholder="theme" >
</label>
<label class="item item-input">
	<input type="text" ng-model="userIndex.parameters.signature" placeholder="signature" >
</label>
<label class="item item-input">
	<input type="text" ng-model="userIndex.parameters.signature_format" placeholder="signature_format" >
</label>
<label class="item item-input">
	<input type="text" ng-model="userIndex.parameters.created" placeholder="created" >
</label>
<label class="item item-input">
	<input type="text" ng-model="userIndex.parameters.access" placeholder="access" >
</label>
<label class="item item-input">
	<input type="text" ng-model="userIndex.parameters.login" placeholder="login" >
</label>
<label class="item item-input">
	<input type="text" ng-model="userIndex.parameters.status" placeholder="status" >
</label>
<label class="item item-input">
	<input type="text" ng-model="userIndex.parameters.timezone" placeholder="timezone" >
</label>
<label class="item item-input">
	<input type="text" ng-model="userIndex.parameters.language" placeholder="language" >
</label>
<label class="item item-input">
	<input type="text" ng-model="userIndex.parameters.picture" placeholder="picture" >
</label>
<label class="item item-input">
	<input type="text" ng-model="userIndex.parameters.init" placeholder="init" >
</label>
<label class="item item-input">
	<input type="text" ng-model="userIndex.parameters.data" placeholder="data" >
</label>


<button class="button button-small" ng-click="callUserRecourceIndex(userIndex)">callUserRecourceRetrieve</button>
<hr />

<h2>Register</h2>
<ion-list>
  <div ng-repeat="(key,request) in userRegisterRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Register Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

	<form name="registerForm" novalidate="" ng-submit="register(registerForm)">
		<div class="list">
			<label class="item item-input">
				<input type="text" ng-model="RegisterData.name" placeholder="Username" name="name" spellcheck="false">
			</label>
			<label class="item item-input">
				<input type="email" placeholder="Email Address" name="mail" ng-model="RegisterData.mail">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Password" name="pass" ng-model="RegisterData.pass">
			</label>
			<div class="button-bar">
				<button class="padding-top button button-block button-positive" ng-click="callUserResourceRegister(RegisterData)">call UserResourceLogin.login</button>
			</div>
			</div>
	</form>
	<ion-list>
	</hr>

<h2>Login</h2>
<ion-list>
  <div ng-repeat="(key,request) in userLoginRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Register Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>
	<form name="loginForm" class="css-form" novalidate>
		<div class="list list-inset">
			<label class="item item-input item-floating-label"> <span
				class="input-label">Username</span>
				<input type="text" placeholder="What is you username" name="username" ng-model="loginData.username">
			</label> <label class="item item-input item-floating-label"> <span
				class="input-label">Password</span>
				<input type="password" placeholder="What is your password?" name="password" ng-model="loginData.password">
			</label>
			<button type="submit" class="button  button-block button-positive"
				ng-click="callUserResourceLogin(loginData)">call UserResourceLogin.login</button>
		</div>
	</form> 
	<hr/>
		
	<h2>Logout</h2>
<ion-list>
  <div ng-repeat="(key,request) in userLogoutRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Logout Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>
<button class="button button-small" ng-click="callUserRecourceLogout()">call UserRecource logout</button>
<hr />
	
<h2>Token</h2>
<ion-list>
  <div ng-repeat="(key,request) in userTokenRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Token Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>
<button class="button button-small" ng-click="callUserRecourceToken()">call UserRecource token</button>
<hr />

	
<h2>RequestNewPassword</h2>
<ion-list>
  <div ng-repeat="(key,request) in userRequestNewPasswordRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Token Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>
<form>
		<div class="list list-inset">
			<label class="item item-input item-floating-label"> <span
				class="input-label">Name or Email</span>
				<input type="text" placeholder="Name or Email" name="name" ng-model="RequestNewPasswordData.name">
			</label> 
			<button type="submit" class="button  button-block button-positive"
				ng-click="callUserResourceRequestNewPassword(RequestNewPasswordData)">call UserResource.request_new_password</button>
		</div>
</form> 
<hr />

<h2>Cancle</h2>
	<ion-list>
	  <div ng-repeat="(key,request) in userCancelRequests">
	    <ion-item class="item-stable"
	              ng-click="toggleRequest(key)"
	              ng-class="{active: isRequestShown(key)}">
	        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
	      &nbsp;
	      Token Request {{key}} at {{request.requestStart | date}}
	    </ion-item>
	    <ion-item class="item-accordion"
	              ng-repeat="(name, value) in request"
	              ng-show="isRequestShown(key)">
	      <h2>{{name}}</h2>
		  <p ng-show="name != 'data'">{{value}}</p>
		  <pre ng-show="name == 'data'">
		  {{ request.data | json}}
		  </pre>
	    </ion-item>
	  </div>
	</ion-list>
	<form>
		<div class="list list-inset">
			<label class="item item-input item-floating-label"> 
				<span class="input-label">Uid</span>
				<input type="text" placeholder="Uid" name="uid" ng-model="CancelData.uid">
			</label> 
			<button type="submit" class="button  button-block button-positive" ng-click="callUserCancle(CancelData)">call UserResource.cancle</button>
		</div>
	</form> 
<hr />

<h2>Password Reset</h2>
	<ion-list>
	  <div ng-repeat="(key,request) in userPasswordResetRequests">
	    <ion-item class="item-stable"
	              ng-click="toggleRequest(key)"
	              ng-class="{active: isRequestShown(key)}">
	        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
	      &nbsp;
	      Token Request {{key}} at {{request.requestStart | date}}
	    </ion-item>
	    <ion-item class="item-accordion"
	              ng-repeat="(name, value) in request"
	              ng-show="isRequestShown(key)">
	      <h2>{{name}}</h2>
		  <p ng-show="name != 'data'">{{value}}</p>
		  <pre ng-show="name == 'data'">
		  {{ request.data | json}}
		  </pre>
	    </ion-item>
	  </div>
	</ion-list>
	<form>
		<div class="list list-inset">
			<label class="item item-input item-floating-label"> 
				<span class="input-label">Uid</span>
				<input type="text" placeholder="Uid" name="uid" ng-model="PasswordResetData.uid">
			</label> 
			<button type="submit" class="button  button-block button-positive" ng-click="callUserPasswordReset(PasswordResetData)">call UserResource.password_reset</button>
		</div>
	</form> 
<hr />

<h2>Resend Welcome Email</h2>
	<ion-list>
	  <div ng-repeat="(key,request) in userResendWelcomeEmailRequests">
	    <ion-item class="item-stable"
	              ng-click="toggleRequest(key)"
	              ng-class="{active: isRequestShown(key)}">
	        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
	      &nbsp;
	      Token Request {{key}} at {{request.requestStart | date}}
	    </ion-item>
	    <ion-item class="item-accordion"
	              ng-repeat="(name, value) in request"
	              ng-show="isRequestShown(key)">
	      <h2>{{name}}</h2>
		  <p ng-show="name != 'data'">{{value}}</p>
		  <pre ng-show="name == 'data'">
		  {{ request.data | json}}
		  </pre>
	    </ion-item>
	  </div>
	</ion-list>
	<form>
		<div class="list list-inset">
			<label class="item item-input item-floating-label"> 
				<span class="input-label">Uid</span>
				<input type="text" placeholder="Uid" name="uid" ng-model="ResendWelcomeEmailData.uid">
			</label> 
			<button type="submit" class="button  button-block button-positive" ng-click="callUserResendWelcomeEmail(ResendWelcomeEmailData)">call UserResource.resend_welcome_email</button>
		</div>
	</form> 
<hr />


	
	
	</ion-content> </ion-view>