<ion-view hide-back-button="true" title="Create Account">

 <ion-nav-buttons side="primary">
       <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
 </ion-nav-buttons>
 
  <ion-content>

    <form name="registerForm" novalidate="" ng-submit="register(registerForm)">

      <ion-list>

       	<div class="form-errors" ng-show="registerForm.$submitted">
          <div ng-bind-html="error" class="form-error" ng-repeat="error in registerServerErrors" ></div>
        </div>

        <label class="item item-input"
               ng-class="{ 'has-error' : registerForm.name.$invalid && registerForm.name.$dirty}">
          <input type="text" 
                 ng-model="registerData.name" 
                 placeholder="Username" 
                 name="name" 
                 autocorrect="off" 
                 autocapitalize="off" 
                 required
                 spellcheck="false">
        </label>

        <div class="form-errors" 
             ng-show="registerForm.name.$invalid && registerForm.name.$dirty"
             ng-messages="registerForm.name.$error" 
             ng-messages-include="templates/form-errors.html"
             >
        </div>

        <label class="item item-input"
               ng-class="{ 'has-error' : registerForm.mail.$invalid && registerForm.mail.$dirty}">
          <input type="email" 
                 placeholder="Email Address" 
                 name="mail"  
                 ng-model="registerData.mail"
                 required
                 >
        </label>

        <div class="form-errors" 
             ng-show="registerForm.mail.$invalid && registerForm.mail.$dirty"
             ng-messages="registerForm.mail.$error"
             ng-messages-include="templates/form-errors.html"
             >
          <div class="form-error" ng-message="mail">Not a valid mail address.</div>
        </div>

        <label class="item item-input"
               ng-class="{ 'has-error' : registerForm.pass.$invalid && registerForm.pass.$dirty}">
          <input type="password"
                 placeholder="Password" 
                 name="pass" 
                 ng-model="registerData.pass"
                 required
                 >
        </label>

        <div class="form-errors"
             ng-show="registerForm.pass.$invalid && registerForm.pass.$dirty"
             ng-messages="registerForm.pass.$error" 
             ng-messages-include="templates/form-errors.html"
             >
        </div>
        <button class="button button-block button-positive" ng-click="showTermsModal()">Click to read terms and conditions</button>
        <li class="item item-toggle">
          I agree terms and conditions
          <label class="toggle toggle-balanced">
            <input 
              required
              name="termsAgreed"
              type="checkbox" 
              ng-model="registerData.termsAgreed">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <div class="form-errors"
             ng-show="registerForm.termsAgreed.$invalid && registerForm.termsAgreed.$dirty"
             ng-messages="registerForm.termsAgreed.$error" 
             ng-messages-include="templates/form-errors.html">
        </div>
        
        <button class="button button-block button-positive button-spinner" ng-click="createAccount()">
        	<span ng-if="!registerIsPending" >Create Account</span>
        	<span ng-if="registerIsPending">Createing Account</span>  
        	<ion-spinner ng-if="registerIsPending"></ion-spinner> 
        </button>
        
        <a class="button button-block button-positive"  ui-sref="app.login">Already got an account? Login</a>

      </ion-list>

    </form>
    <!-- general messages -->
    <script id="templates/form-errors.html" type="text/ng-template">
      <div class="form-error" ng-message="required">This field is required.</div>
    </script>
  </ion-content>
</ion-view>