<ion-view hide-back-button="true" title="Create Account">
  <ion-content>

    <form name="registerForm" novalidate="" ng-submit="register(registerForm)">

      <ion-list>

       	<div class="form-errors" ng-show="registerForm.$submitted">
          <div ng-bind-html="error" class="form-error" ng-repeat="error in registerServerErrors" ></div>
        </div>

        <label class="item item-input"
               ng-class="{ 'has-error' : registerForm.username.$invalid && registerForm.username.$dirty}">
          <input type="text" 
                 ng-model="registerData.username" 
                 placeholder="Username" 
                 name="username" 
                 autocorrect="off" 
                 autocapitalize="off" 
                 required
                 spellcheck="false">
        </label>

        <div class="form-errors" 
             ng-show="registerForm.username.$invalid && registerForm.username.$dirty"
             ng-messages="registerForm.username.$error" 
             ng-messages-include="templates/form-errors.html"
             >
        </div>

        <label class="item item-input"
               ng-class="{ 'has-error' : registerForm.email.$invalid && registerForm.email.$dirty}">
          <input type="email" 
                 placeholder="Email Address" 
                 name="email"  
                 ng-model="registerData.email"

                 required
                 >
        </label>

        <div class="form-errors" 
             ng-show="registerForm.email.$invalid && registerForm.email.$dirty"
             ng-messages="registerForm.email.$error"
             ng-messages-include="templates/form-errors.html"
             >
          <div class="form-error" ng-message="email">Not a valid email address.</div>
        </div>

        <label class="item item-input"
               ng-class="{ 'has-error' : registerForm.password.$invalid && registerForm.password.$dirty}">
          <input type="password"
                 placeholder="Password" 
                 name="password" 
                 ng-model="registerData.password"
                 required
                 >
        </label>

        <div class="form-errors"
             ng-show="registerForm.password.$invalid && registerForm.password.$dirty"
             ng-messages="registerForm.password.$error" 
             ng-messages-include="templates/form-errors.html"
             >
        </div>
        <button class="button button-block button-positive" ng-click="showTermsModal()">Click to read terms and conditions</button>
        <li class="item item-toggle">
          I agree terms and conditions
          <label class="toggle toggle-balanced">
            <input 
              required
              name="termsAgreed"
              type="checkbox" 
              ng-model="registerData.termsAgreed">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <div class="form-errors"
             ng-show="registerForm.termsAgreed.$invalid && registerForm.termsAgreed.$dirty"
             ng-messages="registerForm.termsAgreed.$error" 
             ng-messages-include="templates/form-errors.html"
             >
        </div>
        <button class="button button-block button-positive" ng-click="createAccount()">Create Account</button>
        <button class="button button-block button-positive" ng-click="loginFacebook()">Register with Facebook</button>
        <a class="button button-block button-positive" menu-close ui-sref="app.login">Already got an account? Login</a>


      </ion-list>

    </form>
    <!-- general messages -->
    <script id="templates/form-errors.html" type="text/ng-template">
      <div class="form-error" ng-message="required">This field is required.</div>
    </script>
  </ion-content>
</ion-view>