<ion-view hide-back-button="true" title="Create Account">

 <ion-nav-buttons side="left">
       <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
 
  <ion-content>

    <form name="registerForm" novalidate="" ng-submit="register.doRegister(registerForm)">

      <div class="list list-inset">

       	<div class="form-errors" ng-show="registerForm.$submitted">
          <div ng-bind-html="error" class="form-error" ng-repeat="error in registerServerErrors" ></div>
        </div>

        <label class="item item-input"
               ng-class="{ 'has-error' : registerForm.name.$invalid && registerForm.$submitted}">
          <input type="text" 
                 ng-model="register.registerData.name" 
                 placeholder="Username" 
                 name="name" 
                 autocorrect="off" 
                 autocapitalize="off" 
                 required
                 spellcheck="false">
        </label>

        <div class="form-errors" 
             ng-show="registerForm.name.$invalid && registerForm.$submitted"
             ng-messages="registerForm.name.$error" 
             >
            <div class="form-error" ng-message="required">This field is required.</div>
        </div>

        <label class="item item-input"
               ng-class="{ 'has-error' : registerForm.mail.$invalid && registerForm.$submitted}">
          <input type="email" 
                 placeholder="Email Address" 
                 name="mail"  
                 ng-model="register.registerData.mail"
                 required
                 >
        </label>

        <div class="form-errors" 
             ng-show="registerForm.mail.$invalid && registerForm.$submitted"
             ng-messages="registerForm.mail.$error">
          <div class="form-error" ng-message="mail">Not a valid mail address.</div>
        </div>

        <label class="item item-input"
               ng-class="{ 'has-error' : registerForm.pass.$invalid && registerForm.$submitted}">
          <input type="password"
                 placeholder="Password" 
                 name="pass" 
                 ng-model="register.registerData.pass"
                 required
                 >
        </label>

        <div class="form-errors"
             ng-show="registerForm.pass.$invalid && registerForm.$submitted"
             ng-messages="registerForm.pass.$error" 
             >
             <div class="form-error" ng-message="required">This field is required.</div>
        </div>
      
        <button class="button button-block button-positive button-spinner" ng-click="createAccount()">
        	<span ng-if="!register.registerIsPending" >Create Account</span>
        	<span ng-if="register.registerIsPending">Creating Account</span>  
        	<ion-spinner ng-if="register.registerIsPending"></ion-spinner> 
        </button>
        
        <a class="button button-block button-positive"  ui-sref="app.login">Login</a>

      </ion-list>

    </form>
  </ion-content>
</ion-view>