<ion-view hide-back-button="true" title="Create Account">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>

  <ion-content>

    <form name="registerForm" novalidate="" ng-submit="register.doRegister(registerForm)">

      <div class="list list-inset">

        <label class="item item-input"
               ng-class="{ 'has-error':  registerForm.name.$touched &&  registerForm.name.$invalid ||  registerForm.name.$invalid && registerForm.$submitted}">

          <input type="text"
                 ng-model="register.registerData.name"
                 placeholder="Username"
                 name="name"
                 name-taken
                 autocorrect="off"
                 autocapitalize="off"
                 required
                 spellcheck="false">

        </label>

        <ng-messages class="form-errors"
                     for="registerForm.name.$error">
          <div class="form-error" ng-message="required"  ng-if="registerForm.name.$untouched" >This field is required.</div>
        </ng-messages>

        <label class="item item-input"
               ng-class="{ 'has-error':  registerForm.mail.$touched &&  registerForm.mail.$invalid ||  registerForm.mail.$invalid && registerForm.$submitted}">
          <input type="email"
                 placeholder="Email Address"
                 name="mail"
                 email-taken
                 ng-model="register.registerData.mail"
                 required
            >
        </label>

        <ng-messages class="form-errors"
                     ng-if="registerForm.email.$invalid && registerForm.email.$touched || registerForm.email.$invalid && registerForm.$submitted"
                     for="registerForm.mail.$error">
          <ng-message when="required">This field is required.</ng-message>
          <div class="form-error" ng-message="email">This is not valid email address.</div>
        </ng-messages>

        <label class="item item-input"
               ng-class="{ 'has-error':  registerForm.pass.$touched && registerForm.pass.$invalid ||  registerForm.pass.$invalid && registerForm.$submitted}">
          <input type="password"
                 placeholder="Password"
                 name="pass"
                 ng-model="register.registerData.pass"
                 required
            >
        </label>

        <ng-messages class="form-errors"
                     ng-if="registerForm.pass.$invalid && registerForm.pass.$touched ||  registerForm.pass.$invalid && registerForm.$submitted"
                     for="registerForm.pass.$error">
          <div ng-message="required">This field is required.</div>
        </ng-messages>

        <button class="button button-block button-positive button-spinner" ng-click="createAccount()">
          <span ng-if="!register.registerIsPending">Create Account</span>
          <span ng-if="register.registerIsPending">Creating Account</span>
          <ion-spinner ng-if="register.registerIsPending"></ion-spinner>
        </button>

        <button class="button button-block button-positive" ui-sref="app.login">Login</button>

      </div>

    </form>
  </ion-content>
</ion-view>
