<ion-list class="list anonymous-user-menu">
  <ion-item nav-clear menu-close ui-sref="app.login">Login</ion-item>
  <ion-item nav-clear menu-close ui-sref="app.register">Register</ion-item>
  <ion-item class="item-divider">Anonymous Requests</ion-item>
  <ion-item nav-clear menu-close ui-sref="app.anon-tabs.node-resource">Node Resource</ion-item>
  <ion-item nav-clear menu-close ui-sref="app.anon-tabs.system-resource">System Resource</ion-item>
  <ion-item nav-clear menu-close ui-sref="app.anon-tabs.user-resource">User Resource</ion-item>
    <ion-item nav-clear menu-close ui-sref="app.anon-tabs.views-resource">Views Resource</ion-item>
</ion-list>