<ion-list class="list base-menu">
  <ion-item nav-clear menu-close ui-sref="tour">Tour</ion-item>
      <ion-item data-access-level="{{accessLevels.anon}}" nav-clear menu-close ui-sref="app.login">Login</ion-item>
  	  <ion-item data-access-level="{{accessLevels.anon}}" nav-clear menu-close ui-sref="app.register">Register</ion-item>
  	  <ion-item data-access-level="{{accessLevels.user}}" nav-clear menu-close ui-sref="app.authed-tabs.profile">Profile</ion-item>
      <ion-item data-access-level="{{accessLevels.user}}" nav-clear menu-close ng-click="logout()">Logout</ion-item>
</ion-list>