<ion-list class="list anonymous-user-menu">
  <ion-item class="item-divider">Resources</ion-item>
  <ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.resources-tabs.comment-resource">Comment Resource <i class="icon icon ion-ios-checkmark-empty"></i> </ion-item>
  <ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.resources-tabs.taxonomy-vocabulary-resource">Taxonomy Vocabulary Resource <i class="icon ion-ios-checkmark-empty"></i> </ion-item>
  <ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.resources-tabs.taxonomy-term-resource">Taxonomy Term Resource <i class="icon ion-ios-checkmark-empty"></i> </ion-item>
  <ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.resources-tabs.file-resource">File Resource <i class="icon ion-ios-checkmark-empty"></i> </ion-item>
  <ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.resources-tabs.node-resource">Node Resource <i class="icon ion-ios-checkmark-empty"></i> </ion-item>
  <ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.resources-tabs.system-resource">System Resource <i class="icon ion-ios-checkmark-empty"></i> </ion-item>
  <ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.resources-tabs.user-resource">User Resource <i class="icon ion-ios-checkmark-empty"></i> </ion-item>
  <ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.resources-tabs.views-resource">Views Resource <i class="icon icon ion-ios-checkmark-empty"></i> </ion-item>
</ion-list>