<ion-list class="list anonymous-user-menu">
  <ion-item class="item-divider">Resources</ion-item>
  <ion-item nav-clear menu-close ui-sref="app.resources-tabs.session-resource">Session Resource</ion-item>
  <ion-item nav-clear menu-close ui-sref="app.resources-tabs.node-resource">Node Resource</ion-item>
  <ion-item nav-clear menu-close ui-sref="app.resources-tabs.system-resource">System Resource</ion-item>
  <ion-item nav-clear menu-close ui-sref="app.resources-tabs.user-resource">User Resource</ion-item>
  <ion-item nav-clear menu-close ui-sref="app.resources-tabs.views-resource">Views Resource</ion-item>
</ion-list>