<ion-view title="Login">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>

  <ion-content>
    <form name="login.loginForm" novalidate="" ng-submit="login.doLogin()">

      <div class="list list-inset">

        <div class="form-errors" ng-show="login.loginForm.$submitted">
          <div class="form-error" ng-bind-html="error" ng-repeat="error in loginServerErrors"></div>
        </div>

        <label class="item item-input"
               ng-class="{ 'has-error':  login.loginForm.username.$touched &&  login.loginForm.username.$invalid ||  login.loginForm.username.$invalid && login.loginForm.$submitted}">

          <input type="text"
                 ng-model="login.loginData.username"
                 placeholder="Usernam"
                 name="username"
                 required
                 inactive-or-blocked
                 spellcheck="false">
        </label>

        <ng-messages class="form-errors"
                     for="login.loginForm.username.$error"
                     ng-if="login.loginForm.username.$touched &&  login.loginForm.username.$invalid ||  login.loginForm.username.$invalid && login.loginForm.$submitted">
          <div class="form-error" ng-message="required">This field is required.</div>
          <div class="form-error" ng-message="inactive-or-blocked">"The username {{login.loginData.username}} has not been activated or is blocked.</div>
        </ng-messages>


        <label class="item item-input"
               ng-class="{ 'has-error':  login.loginForm.password.$touched &&  login.loginForm.password.$invalid ||  login.loginForm.password.$invalid && login.loginForm.$submitted}">

          <input type="password"
                 ng-model="login.loginData.password"
                 placeholder="Password"
                 name="password"
                 required
                 spellcheck="false">
        </label>

        <ng-messages class="form-errors"
                     for="login.loginForm.password.$error"
                     ng-if="login.loginForm.password.$touched &&  login.loginForm.password.$invalid">
          <div class="form-error" ng-message="required">This field is required.</div>
          <div class="form-error" ng-message="password">This is no valid password.</div>
        </ng-messages>


        <div class="button-bar">
          <button class="button button-block button-positive button-spinner">
            <span ng-if="!login.loginIsPending">Log in</span><span ng-if="login.loginIsPending">Logging in</span>
            <ion-spinner ng-if="login.loginIsPending"></ion-spinner>
          </button>
        </div>

        <a class="button button-block button-positive" ng-click="login.goToRegister()">Register</a>
      </div>






    </form>
  </ion-content>
</ion-view>
