//layout helpers

.text-center {
  text-align: center;
}

.v-center {

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;

  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

}

//elem helpers
.overlay-spinner {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 50%;

  svg {
    margin-top: -25%;
  }
}

.item-spinner-left .spinner, .item-spinner-right .spinner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 32px;
}

.item-spinner-left .spinner:before, .item-spinner-right .spinner:before {
  display: block;
  width: 32px;
  text-align: center;
}

.item-spinner-left {
  padding-left: 54px;
}

.item-spinner-left .spinner {
  left: 11px;
}

.item-complex.item-spinner-left {
  padding-left: 0;
}

.item-complex.item-spinner-left .item-content {
  padding-left: 54px;
}

.item-spinner-right {
  padding-right: 54px;
}

.item-spinner-right .spinner {
  right: 11px;
}

.item-complex.item-spinner-right {
  padding-right: 0;
}

.item-complex.item-spinner-right .item-content {
  padding-right: 54px;
}

.item-spinner-left.item-spinner-right .spinner:first-child {
  right: auto;
}

.item-spinner-left.item-spinner-right .spinner:last-child, .item-spinner-left .item-delete .spinner {
  left: auto;
}

.item-spinner-left .spinner-accessory, .item-spinner-right .spinner-accessory {
  color: #ccc;
  font-size: 16px;
}

.item-spinner-left .spinner-accessory {
  left: 3px;
}

.item-spinner-right .spinner-accessory {
  right: 3px;
}

.button .spinner svg {
  vertical-align: middle;
  pointer-events: none;
}

.button .spinner:before, .button.spinner:before, .button.spinner-left:before, .button.spinner-right:before {
  display: inline-block;
  padding: 0 0 1px 0;
  vertical-align: inherit;
  font-size: 24px;
  line-height: 41px;
  pointer-events: none;
}

.button.spinner-left:before {
  float: left;
  padding-right: .2em;
  padding-left: 0;
}

.button.spinner-right:before {
  float: right;
  padding-right: 0;
  padding-left: .2em;
}

.button.button-positive.button-spinner .spinner svg {

  stroke: #fff;
  fill: #fff;
}

/*forms
===========================================================================*/
form label.item.has-error {
  border-left: 2px solid red;
  border-right: 2px solid red;
}

label.item.has-error-lr {
}

label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

.form-errors {
  margin: 5px 0;
  padding: 2px 0 2px 16px;
  color: red;
}
