<ion-view hide-nav-bar="true" title="Welcome" class="tour">
  <ion-nav-title>
    The <b>tour</b>
  </ion-nav-title>
  <ion-nav-buttons side="left">
  </ion-nav-buttons>

  <ion-slide-box>
    <ion-slide>
      <h2>This is the deom of <br /><b>Drupal-Ionic-AngularJS-API-Client</b></h2>
    </ion-slide>
    <ion-slide>
      <h3>Drupal-Ionic-AngularJS-API-Client</h3>
      <p>
      API Client for Drupal 7 Services 3.x module
      </p>
    </ion-slide>
    <ion-slide>
      Get started register or login
      <button class="button button-full button-positive" ng-click="start()">Get Started</button>
    </ion-slide>
  </ion-slide-box>
</ion-view>
