<!-- 
<ion-view  title="Tour Slides">
  <ion-nav-bar class="bar-stable">
	  <ion-nav-buttons side="left">
	 
	    <button class="button button-positive button-clear no-animation"
	            ng-click="previous()" ng-if="data.slideIndex > 0">
	      Previous Slide
	    </button>
	  </ion-nav-buttons>
	  <ion-nav-buttons side="right"> 
	    <button class="button button-positive button-clear no-animation" ng-click="next()" ng-if="data.slideIndex < data.numViewableSlides - 1">
	    Next
	    </button>
	  </ion-nav-buttons>
  </ion-nav-bar>
  
  <ion-content direction="x" >
   <ion-slide-box class="has-header" show-pager="true"   on-slide-changed="slideChanged(index)">
    <ion-slide ng-repeat="slide in data.slides | filter:{viewable : true}">
      <div ng-include src="slide.template"></div>
    </ion-slide>
  </ion-content>
  
</ion-view>

 -->


<ion-view  title="Tour Slides" >
  <ion-content direction="x" >
<ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" >
  <ion-slide>
    <div class="box blue"><h1>BLUE</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box yellow"><h1>YELLOW</h1></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><h1>PINK</h1></div>
  </ion-slide>
</ion-slide-box>
	</ion-content>
</ion-view>
 