<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.networksettings"
    version="1.0.0">
    <name>networksettings</name>
    <description>Ionic Keyboard Plugin</description>


  <js-module src="www/networksettings.js" name="networksettings">
    <clobbers target="cordova.plugins.networksettings" />
  </js-module>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="networksettings">
        <param name="android-package" value="com.ionic.network.networksettings" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <source-file src="src/android/networksettings.java" target-dir="src/networksettings" />
  </platform>


</plugin>
