<ion-view title="Views Resource"> 
 
<ion-content>
<h1>ViewsResource</h1>
<h2>Retrieve</h2>
<ion-list>
  <div ng-repeat="(key,request) in viewsRetrieveRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Retrieve Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>
<label class="item item-input">
	<input type="text" ng-model="viewsRetrieve.view_name" placeholder="view_name" >
</label>

<label class="item item-input">
	<input type="text" ng-model="viewsRetrieve.display_id" placeholder="display_id" >
</label>
<p>
Views Administration -> Advanced -> Other -> Machine Name: services_1 
</p>

<label class="item item-input">
	<input type="text" ng-model="viewsRetrieve.args" placeholder="args" >
</label>

<label class="item item-input">
	<input type="text" ng-model="viewsRetrieve.offset" placeholder="offset" >
</label>

<label class="item item-input">
	<input type="text" ng-model="viewsRetrieve.limit" placeholder="limit" >
</label>

<ion-checkbox ng-model="viewsRetrieve.format_output" ng-true-value="1" ng-false-value="0">format_output</ion-checkbox>

<p><b>Exposed filters:</b><br/>
	<span class="">The filters have to be exposed in the view</span>
</p>

<label class="item item-input">
	<input type="text" ng-model="viewsRetrieve.exposed_filters.sort_order" placeholder="sort_order" >
</label>
<label class="item item-input">
	<input type="text" ng-model="viewsRetrieve.exposed_filters.sort_by" placeholder="sort_by" >
</label>
<label class="item item-input">
	<input type="text" ng-model="viewsRetrieve.exposed_filters.comment_count" placeholder="comment_count" >
</label>

<button class="button button-small" ng-click="callViewsRecourceRetrieve(viewsRetrieve)">callViewsRecourceRetrieve</button>
<hr />
	
</ion-content> 
</ion-view>