<ion-view title="Profile" id="profile-view">

  <ion-content class="ionic">
             <div id="profile-wrapper" class="text-center">
                <div class="content">
                
                    <div id="profile-image" class="avatar-default">
                    	<div class="avatar"  style="background-image: url('{{profile.pathToCms}}sites/default/files/styles/thumbnail/public/pictures/{{profile.user.picture.filename}}');">
                    	
                    	</div>
                    </div>
                    
                    <h3 class="light">{{profile.user.name}}</h3>
                </div>
            </div>
  </ion-content>
  
</ion-view>