	#toutView .slider {
		height: 100%;
	}
	
	#toutView .slider-slide .slide			{
	    text-align:center;
	    height:100%; 
	    width:100%; 
	}
	    
	#toutView .slider-pager 				{
		position: absolute;
		bottom: 90px;
	}
