	#toutView #skip {
		
	}
	
	#toutView .slider {
		height: 100%;
	}
	
	#toutView .slider .slider-slide 	{
		padding-top:60px;
	    text-align:center;
	    height:100%; 
	    width:100%; 
	}
	
	#toutView .slider-slide .slide	h1		{
	  
	}
	    
	    
	#toutView .slider-pager 				{
		position: absolute;
		bottom: 90px;
	}
	
	
