<ion-tabs class="tabs-icon-top tabs-positive">
  <ion-tab title="Node Resource Demo" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" ui-sref="app.authed-tabs.node-list">
    <ion-nav-view name="node-list-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="User Resource Demo" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" ui-sref="app.authed-tabs.users">
    <ion-nav-view name="users-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Profile" icon-on="ion-ios-person" icon-off="ion-ios-person-outline"  ui-sref="app.authed-tabs.profile">
    <ion-nav-view name="profile-tab"></ion-nav-view>
  </ion-tab> 
</ion-tabs>