<ion-tabs class="tabs-icon-top tabs-positive">
  <ion-tab title="Node" icon-on="ion-ios7-pricetags" icon-off="ion-ios7-pricetags-outline"  ui-sref="app.api.nodeRecource">
    <ion-nav-view name="node-resource"></ion-nav-view>
  </ion-tab>
  <ion-tab title="System" icon-on="ion-ios7-football" icon-off="ion-ios7-football-outline" ui-sref="app.api.systemRecource">
    <ion-nav-view name="system-resource"></ion-nav-view>
  </ion-tab>
  <ion-tab title="User" icon-on="ion-ios7-compose" icon-off="ion-ios7-compose-outline"  ui-sref="app.api.userRecource">
    <ion-nav-view name="user-resource"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Views" icon-on="ion-ios7-pulse-strong" icon-off="ion-ios7-pulse"  ui-sref="app.api.viewsRecource">
    <ion-nav-view name="views-resource"></ion-nav-view>
  </ion-tab>
</ion-tabs>