<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">Create Nodee</h1>
      <button class="button button-clear button-positive" ng-click="closeCreatePageModal()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
https://www.drupal.org/node/1354202
https://library.fiu.edu/sites/all/modules/services/tests/functional/ServicesResourceNodeTests.test
      <form>
        <div class="list">
       <label class="item item-input">
		<input type="text" ng-init="newPage.title='test titel'" ng-model="newPage.title" placeholder="Node title" >
		</label>
		
		<label class="item item-input">
		<textarea rows="6" placeholder="Node sumary" type="text" ng-init="newPage.body.und[0].summary = 'This is a short summary of the node body.'" ng-model="newPage.body.und[0].summary"></textarea>
		</label>
		
		<label class="item item-input">
		<textarea rows="6" placeholder="Node body" type="text" ng-init="newPage.body.und[0].value = 'This is the full node body.'" ng-model="newPage.body.und[0].value"></textarea>
		</label>
		
        <div class="padding">
          <button type="submit" ng-click="createPage(newPage)" class="button button-block button-positive">Create Page</button>
        </div>
      </form>

    </ion-content>

  </div>