<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">Create Nodee</h1>
      <button class="button button-clear button-positive" ng-click="closeCreatePageModal()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

      <form>
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="What is the title of your new content" ng-model="node.title">
          </label>
           <label class="item item-input">
            <input type="text" placeholder="What is the description of your new node" ng-model="node.description">
          </label>
        </div>
		
        <div class="padding">
          <button type="submit" ng-click="createContent()" class="button button-block button-positive">Create Content</button>
        </div>
      </form>

    </ion-content>

  </div>