<ion-view title="{{node.title}}">
   <ion-nav-bar>
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
</ion-nav-bar>
  <ion-content>
<div class="list card">
  <div class="item item-avatar">
    <img ng-src="{{pathToImg}}">
    <h2>{{node.title}}</h2>
    <p>{{node.created | date }}</p>
  </div>

  <div class="item item-body">
    <img ng-show="pathToImg" class="full-image" ng-src="{{pathToImg}}">
    <p>
     {{node.body.und[0].value}}
    </p>
    <p>
      <a href="#" class="subdued">{{node.comment}} Comment{{node.comment > 1?'s':''}}</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
  </div>

</div>



</ion-content>

</ion-view>