<ion-view title="Node List">
   


  <ion-content>
   
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>

<style>
.item {
  left: 0;
  right: 0;
}
</style>

	<ion-list show-delete="listOptions.showDelete" can-swipe="true">
	

  
	  	<ion-item collection-item-width="'100%'" collection-item-height="'75px'" collection-repeat="node in nodes" class="item-icon-right item-spinner-right" >
		<!-- on-swipe-right="openNode(node.nid)" -->
		 
		    <h2>{{node.title}} {{loadingDetail}}</h2>
		    <p>{{node.type}} - {{node.created | date}}</p>
		    <ion-spinner ng-show="loadingDetail == node.nid"></ion-spinner>
		    <i ng-show="loadingDetail != node.nid" class="icon " ng-class="loadingDetail != node.nid?'ion-ios-arrow-right':'ion-load-d icon-spin'" ng-click="openNode(node.nid)" ></i>  
		    <ion-option-button class="button-positive" ng-click="editNode(node.nid)">
		      Edit
		    </ion-option-button>
		
		    <ion-delete-button class="ion-minus-circled" ng-click="deleteNode(node.nid, $index)">
		    </ion-delete-button>
		    
	  	</ion-item>
	</ion-list>
	
	
	
	
	<ion-infinite-scroll icon="ion-load-d" on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
	    
	    
	    
	    
    
  </ion-content>
</ion-view>