<ion-view title="Node Resource Deom">
   
<ion-nav-bar>
    <ion-nav-buttons side="right" class="buttons">
        <button class="button button-icon icon {{listOptions.showDelete?'ion-ios-minus':'ion-ios-minus-outline'}}" ng-click="listOptions.showDelete = !listOptions.showDelete;"></button>
        <button class="button button-icon icon ion-ios-plus" ng-click="showCreatePageModal()"></button>
    </ion-nav-buttons>
</ion-nav-bar>

  <ion-content>
   
    <ion-refresher 
    pulling-text="Pull to refresh..."
    pulling-icon="ion-android-arrow-down" 
    refreshing-icon="ion-load-d"
    on-refresh="doRefresh()"></ion-refresher>
   
  
    pageCurrent: {{nodeIndex.pageFirst}} 
    pageLast: {{nodeIndex.pageLast}}
	pageMax: {{nodeIndex.pageMax}}
			   {{listOptions.showDelete}}
	<!-- 
	<ion-list show-delete="list.showDelete">
		<ion-item class="item-avatar" ng-repeat="node in nodes" href="#/authed-tabs/node/{{node.nid}}/view">
			<img src=" " />
			{{node.nid}}
			<h2>{{node.title}}</h2>
			<p>{{node.type}} - {{node.created | date}}</p>
			<p></p>
			<ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)"></ion-delete-button>
		</ion-item>
	</ion-list>
	-->

	<ion-list show-delete="listOptions.showDelete" can-swipe="true" type="card">
          
	  	<ion-item ng-repeat="node in nodes" on-swipe-right="openNode(node.nid)" ng-click="openNode(node.nid)" class="item-thumbnail-left item-icon-right">
		
		    <img ng-src="{{node.title}}">
		    <h2>{{node.title}}</h2>
		    <p>{{node.type}} {{node}}- {{node.created | date}}</p>
		    <i class="icon ion-ios-arrow-right"></i>
		    <ion-option-button class="button-positive" ui-sref="edit">
		      Edit
		    </ion-option-button>
		
		    <ion-delete-button class="ion-minus-circled" ng-click="deleteNode(node.nid, $index)">
		    </ion-delete-button>
		    
	  	</ion-item>
	</ion-list>
	
	
	
	
	<ion-infinite-scroll icon="ion-load-d" on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
	    
	    
	    
	    
    
  </ion-content>
</ion-view>