<ion-view title="Node List">
   
<ion-nav-bar>
    <ion-nav-buttons side="secondary" class="buttons">
        <button class="button button-icon icon {{listOptions.showDelete?'ion-ios-minus':'ion-ios-minus-outline'}}" ng-click="listOptions.showDelete = !listOptions.showDelete;"></button>
        <button class="button button-icon icon ion-ios-plus" ng-click="showCreatePageModal()"></button>
    </ion-nav-buttons>
</ion-nav-bar>

  <ion-content>
   
    <ion-refresher 
    pulling-text="Pull to refresh..."
    pulling-icon="ion-android-arrow-down" 
    refreshing-icon="ion-load-a ion-spin"
    on-refresh="doRefresh()"></ion-refresher>

<style>
.item {
  left: 0;
  right: 0;
}
</style>

	<ion-list show-delete="listOptions.showDelete" can-swipe="true">
	

  
	  	<ion-item collection-item-width="'100%'" collection-item-height="'75px'" collection-repeat="node in nodes" class="item-icon-right" >
		<!-- on-swipe-right="openNode(node.nid)" -->
		 
		    <h2>{{node.title}} {{loadingDetail}}</h2>
		    <p>{{node.type}} - {{node.created | date}}</p>
		     
		    <i class="icon " ng-class="loadingDetail != node.nid?'ion-ios-arrow-right':'ion-load-d icon-spin'" ng-click="openNode(node.nid)" ></i>
		    <ion-option-button class="button-positive" ng-click="editNode(node.nid)">
		      Edit
		    </ion-option-button>
		
		    <ion-delete-button class="ion-minus-circled" ng-click="deleteNode(node.nid, $index)">
		    </ion-delete-button>
		    
	  	</ion-item>
	</ion-list>
	
	
	
	
	<ion-infinite-scroll icon="ion-load-d" on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
	    
	    
	    
	    
    
  </ion-content>
</ion-view>