<ion-view title="{{node.title}}">
   <ion-nav-bar>
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
</ion-nav-bar>
  <ion-content>
<div class="list card">
  <div class="item"  ng-class="pathToUserImg !== false?'item-avatar':''">
    <img ng-if="pathToUserImg" ng-src="{{pathToUserImg}}">
    <h2>{{node.name}}</h2>
    <p>Created on {{node.created * 1000 | date }}</p>
  </div>

  <div class="item item-body">
    <img ng-if="pathToImg" class="full-image" ng-src="{{pathToImg}}">
    <p>
     {{node.body.und[0].value}}
    </p>
    
    <p>
      <a ng-click="loadComments(node.comment)" class="subdued">{{node.comment}} Comment{{node.comment > 1?'s':''}} <ion-spinner ng-if="loadingComments"  class="spinner-small" ></ion-spinner></a>
    </p>
  </div>

  <div ng-repeat="comment in comments" class="card">
	  	<div class="item item-divider">
	   {{comment.subject}}
	  	</div>
	  	<div class="item item-text-wrap">
	    {{comment.comment_body.und[0].value}}
	 	 </div>
	  	<div class="item item-divider">
	    	<button class="button button-clean" ng-click="createComment(comment.nid, comment.cid)">Reply</button>
	  	</div>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
  </div>

</div>



</ion-content>

</ion-view>