<ion-side-menus enable-menu-with-back-views="false" ng-class="{'has-bar-network':isOffline}">
  <ion-side-menu-content>
  
    <ion-nav-bar class="bar-stable">     
      
       
      <ion-nav-buttons side="primary">
       <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      
    </ion-nav-bar>
    
	<div class="bar bar-network bar-assertive " ng-show="isOffline">
		App is in offline mode
	</div>
	
    <ion-nav-view class="test" name="menuContent"></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left">

    <ion-header-bar class="bar-stable">
      <h1 class="title">Left Menu</h1>
    </ion-header-bar>
	  
    <ion-content class="has-footer" drag-content="true">
      <ng-include src="'app/templates/menus/base-menu.html'"></ng-include>
      <ng-include data-access-level="{{accessLevels.user}}" src="'app/templates/menus/authenticated-user-menu.html'"></ng-include>
    </ion-content>

  </ion-side-menu>
</ion-side-menus>
