<ion-view title="Node Resource"> 

<ion-content>

<h1>NodeResource</h1>

<h2>Retrieve</h2>
<ion-list>
  <div ng-repeat="(key,request) in nodeRetrieveRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Retrieve Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

<label class="item item-input">
<input type="text" ng-model="nodeRetrieve.nid" placeholder="nid" >
</label>
<button class="button button-small" ng-click="callNodeRecourceRetrieve(nodeRetrieve.nid)">call NodeRecource.retrieve</button>
<hr />

<h2>Create</h2>
<ion-list>
  <div ng-repeat="(key,request) in nodeCreateRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Create Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>
<ion-select label="Node Types" label-field="name"  name="'nodeTypes'" provider="nodeTypes" ng-model="nodeCreate.type"/></ion-select>
<label class="item item-input">
<input type="text" ng-init="nodeCreate.title='test titel'" ng-model="nodeCreate.title" placeholder="Node title" >
</label>

<label class="item item-input">
<textarea rows="6" placeholder="Node sumary" type="text" ng-model="nodeCreate.body.und[0].summary"></textarea>
</label>
<label class="item item-input">
<textarea rows="6" placeholder="Node body" type="text" ng-model="nodeCreate.body.und[0].value"></textarea>
</label>
<label class="item item-input">
<input type="text" ng-model="nodeCreate.field_image.und[0].fid" placeholder="fid"></textarea>
</label>

<button class="button button-small" ng-click="callNodeRecourceCreate(nodeCreate)">call NodeRecource.create</button>
<hr />
<h2>Update</h2>
<ion-list>
  <div ng-repeat="(key,request) in nodeUpdateRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Update Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>
<label class="item item-input">
<input type="text" ng-init="nodeUpdate.nid='1234'" ng-model="nodeUpdate.nid" placeholder="Nid" >
</label>
<label class="item item-input">
<input type="text" ng-init="nodeUpdate.title='test titel'" ng-model="nodeUpdate.title" placeholder="Node title" >
</label>

<label class="item item-input">
<textarea rows="6" placeholder="Node sumary" ng-model="nodeUpdate.body.und[0].summary"></textarea>
</label>

<label class="item item-input">
<textarea rows="6" placeholder="Node body" type="text" ng-model="nodeUpdate.body.und[0].value"></textarea>
</label>

<button class="button button-small" ng-click="callNodeRecourceUpdate(nodeUpdate)">call NodeRecource.update</button>

<hr />

<h2>Delete</h2>
<ion-list>
  <div ng-repeat="(key,request) in nodeDeleteRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Delete Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

<label class="item item-input">
<input type="text" ng-init="nodeDelete.nid='3'" ng-model="nodeDelete.nid" placeholder="nid" >
</label>
<button class="button button-small" ng-click="callNodeRecourceDelete(nodeDelete.nid)">call NodeRecource.delete</button>

<hr />


<h2>Index</h2>
<ion-list>
  <div ng-repeat="(key,request) in nodeIndexRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Index Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

<label class="item item-input">
<input type="text" ng-init="nodeIndex.page=0" ng-model="nodeIndex.page" placeholder="page" >
</label>
<label class="item item-input">
<input type="text" ng-init="nodeIndex.pagesize=5" ng-model="nodeIndex.pagesize" placeholder="pagesize" >
</label>

<p><b>Fields:</b><br>
Fields of node that are returned
</p>
<ion-checkbox ng-model="nodeIndex.fields.nid">fields.nid</ion-checkbox>
<ion-checkbox ng-model="nodeIndex.fields.created">fields.created</ion-checkbox>
<ion-checkbox ng-model="nodeIndex.fields.type">fields.type</ion-checkbox>
<ion-checkbox ng-model="nodeIndex.fields.title">fields.title</ion-checkbox>
<p><b>Parameters:</b><br>
Parameters of node that are returned
</p>
<label class="item item-input">
	<input type="text" ng-model="nodeIndex.parameters.nid" placeholder="nid" >
</label>
<label class="item item-input">
	<input type="text" ng-model="nodeIndex.parameters.created" placeholder="created" >
</label>
<label class="item item-input">
	<input type="text" ng-model="nodeIndex.parameters.type" placeholder="type" >
</label>
<label class="item item-input">
	<input type="text" ng-model="nodeIndex.parameters.title" placeholder="title" >
</label>   
<button class="button button-small" ng-click="callNodeRecourceIndex(nodeIndex)">call NodeRecource.index</button>
<hr />

<h2>Files</h2>
<ion-list>
  <div ng-repeat="(key,request) in nodeFilesRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Files Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

<label class="item item-input">
<input type="text" ng-model="nodeFiles.nid" placeholder="nid" >
</label>
<label class="item item-input">
<input type="text" ng-model="nodeFiles.file_contents" placeholder="file_contents" >
</label>
<label class="item item-input">
<input type="text" ng-model="nodeFiles.image_styles" placeholder="image_styles" >
</label>
<button class="button button-small" ng-click="callNodeResourceFiles(nodeFiles)">call NodeRecource.files</button>

<hr />

<h2>Comments</h2>
<ion-list>
  <div ng-repeat="(key,request) in nodeCommentsRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      Comments Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

<label class="item item-input">
<input type="text" ng-model="nodeComments.nid" placeholder="nid" >
</label>
<label class="item item-input">
<input type="text" ng-model="nodeComments.count" placeholder="count" >
</label>
<label class="item item-input">
<input type="text" ng-model="nodeComments.offset" placeholder="offset" >
</label>
<button class="button button-small" ng-click="callNodeResourceComments(nodeComments)">call NodeRecource.comments</button>

<hr />

<h2>AttachFile <span class="assertive">!</span></h2>
<ion-list>
  <div ng-repeat="(key,request) in nodeAttachFileRequests">
    <ion-item class="item-stable"
              ng-click="toggleRequest(key)"
              ng-class="{active: isRequestShown(key)}">
        <i class="icon" ng-class="isRequestShown(key) ? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      AttachFile Request {{key}} at {{request.requestStart | date}}
    </ion-item>
    <ion-item class="item-accordion"
              ng-repeat="(name, value) in request"
              ng-show="isRequestShown(key)">
      <h2>{{name}}</h2>
	  <p ng-show="name != 'data'">{{value}}</p>
	  <pre ng-show="name == 'data'">
	  {{ request.data | json}}
	  </pre>
    </ion-item>
  </div>
</ion-list>

<label class="item item-input">
<input type="text" ng-model="nodeAttachFile.nid" placeholder="nid" >
</label>
<label class="item item-input">
<input type="text" ng-model="nodeAttachFile.field_name" placeholder="field_name" >
</label>
<label class="item item-input">
<input type="text" ng-model="nodeAttachFile.attach" placeholder="attach" >
</label>
<label class="item item-input">
<input type="text" ng-model="nodeAttachFile.field_values.title" placeholder="field_values.title" >
</label>
<label class="item item-input">
<input type="text" ng-model="nodeAttachFile.field_values.alt" placeholder="field_values.alt" >
</label>
<img width="16" height="16" ng-src="{{'data:image/gif;base64,'+nodeAttachFile.attach}}">
<div ng-show="!isWebview">

</div>

<div ng-show="isWebview">
Test for upload from phone:<br/>

<button class="button button-block button-positive icon-left ion-ios7-camera" ng-click="takePicture()">Camera</button>
</div>

<button class="button button-small" ng-click="callNodeResourceAttachFile(nodeAttachFile)">call NodeRecource.attach_file</button>

<hr />


</ion-content> </ion-view>