<ion-view title="Users">
  <ion-content class="ionic">
             
      
            
      <swipe-cards>
      <swipe-card on-card-swipe="cardSwiped()" id="start-card">
        Swipe down for a new card
      </swipe-card>
      <swipe-card ng-repeat="user in userList" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)">
        <div ng-controller="CardCtrl">
          <div class="title">
            {{user.title}}
          </div>
          <div class="image">
            <img ng-src="{{user.image}}">
          </div>
          <div class="button-bar">
            <button class="button button-clear button-positive" ng-click="goAway()">Answer</button>
            <button class="button button-clear button-positive" ng-click="goAway()">Decline</button>
          </div>
        </div>
      </swipe-card>
    </swipe-cards>
            
             
  </ion-content>
</ion-view>